<div id="page-wrapper">
<div class="container-fluid">
<div class="row bg-title">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<h4 class="page-title"><%=__('Add User')%></h4>
</div>
<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
<ol class="breadcrumb">
<li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
<li class="active">
<a href="/admin/user"><%=__('Manage User')%></a>
</li>
<li class="active"><%=__('Add')%></li>
</ol>
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-md-12">
<div class="panel panel-info">

<div class="panel-wrapper collapse in" aria-expanded="true">
<div class="panel-body">
<form action="" enctype="multipart/form-data" method="POST" id="registration-form">
<div class="form-body">
<%include ../message/message.ejs%>
<hr>
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Name')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="name" name="name" data-validation="required" class="form-control" placeholder="<%=__('Name')%>">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Email')%></label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="email" name="email" class="form-control" placeholder="<%=__('Email')%>">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Mobile No')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="mobile" name="mobile" data-validation="required, number,server" data-validation-url="/admin/user/check_mobile" class="form-control" placeholder="<%=__('Mobile')%>">
</div>
</div>
</div>
</div> 
<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Photo proof type *</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="photo_id_type" id="photo_id_type" class="form-control" data-validation="required">
			<option value="">Select photo proof type</option>
			<%for(var key=0;key<proof_type.length;key++){%>
			   <option value="<%=proof_type[key].id%>"><%=proof_type[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div>  
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Photo Id No')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="photo_id_number" name="photo_id_number" data-validation="required"  class="form-control" placeholder="<%=__('Photo id proof')%>">
</div>
</div>
</div>
</div> 

 <div class="row">
	<div class="col-md-12">
	  <div class="form-group row">
		  <label class="control-label col-xs-12 col-md-3 "><%=__('Photo id proof')%> *</label>
		  <div class="form-group col-xs-12 col-md-9">
			<input type="file" name="photo_proof" id="photo_proof" data-validation="required" class="form-control">
		  </div>
	  </div>
	</div>
</div> 
<div class="row">
	<div class="col-md-12">
	  <div class="form-group row">
		  <label class="control-label col-xs-12 col-md-3 "><%=__('Profile Photo')%> *</label>
		  <div class="form-group col-xs-12 col-md-9">
			<input type="file" name="photo_profile" id="photo_profile" data-validation="required" class="form-control">
		  </div>
	  </div>
	</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Password')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input class="form-control" type="password" name="pass_confirmation" id="pass_confirmation" data-validation="length" data-validation-length="min8" placeholder="Password">
</div>
</div>
</div>
</div> 
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Confirm Password')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input class="form-control" type="password" name="pass" id="pass" data-validation="confirmation" placeholder="Confirm Password">
</div>
</div>
</div>
</div>    
<!--/row-->

<hr>


<div class="form-actions">
<button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
<a href="/admin/user" class="btn btn-default"><%=__('Cancel')%> </a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</div>
<!-- /.container-fluid -->
</div>
