<div id="page-wrapper">
  <div class="container-fluid">
  <div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title"><%=__('User Profile')%>(<%=userData.name%>)</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
        <li class="active">
          <a href="/admin/user"><%=__('Manage User')%></a>
        </li>
        <li class="active"><%=__('Update Profile')%></li>
      </ol>
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
              <form action="/admin/user/update-profile/<%=userData._id%>" method="post" id="registration-form">
                <div class="form-body">
                <%include ../message/message.ejs%>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('City')%> *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <select id="city" name="city" data-validation="required" class="form-control" onchange="getLocality(this.value)">
                              <option value="">Select City</option>
                              <%
                              for(var i=0; i<city.length; i++){
                              %>
                                <option value="<%=city[i]._id%>"><%=city[i].name%></option>
                              <%}%>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Locality')%> *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <select id="locality" name="locality" data-validation="required" class="form-control" >
                              <option value="">Select Locality</option>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Resume')%> *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <input type="file" name="resume" id="resume" class="form-control">
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Current Salary')%>(Lakh) *</label>
                          <div class="form-group col-xs-12 col-md-9">
                          <input type="text" id="salary" name="salary" data-validation="required" class="form-control" placeholder="<%=__('Salary')%>">
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-group row clearfix" id="category_valid">
                  <label class="col-xs-12 col-md-3  col-form-label" for="example-text-input">Category</label>
                  <div class="col-xs-12 col-md-9">

                  <div class="form">
                    <div class="search-box"><input type="text" class="input" placeholder="click & search" onblur="getSkillsDesign(this.value)"></div>
                    <div class="list"></div>
                    <ul class="categories" id="unique">
                    <li><span>Default Categories</span>
                      <ul class="sub-categories">
                      </ul>
                    </li>
                    </ul>
                  </div>
                  <div class="seprated">
                    <input type="hidden" name="data" id="save_data" data-validation="required" value="" >
                  </div>
                  <div class="sepratedd">
                    <input type="hidden" value="">
                  </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Skills')%>*</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <div class="row skills-data">
                              <%for(var i=0;i<skills.length;i++){%>
                                <div class="col-md-3">
                                <input type="checkbox" name="skills" id="skills-<%=i%>" value="<%=skills[i]._id%>" >  <%=skills[i].name%>
                                </div>
                              <%}%>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Current Designation')%>*</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <div class="row designaitor-data">
                              <%for(var i=0;i<designaitor.length;i++){%>
                                <div class="col-md-3">
                                <input type="checkbox" name="designation" id="designation-<%=i%>" value="<%=designaitor[i]._id%>" >  <%=designaitor[i].name%>
                                </div>
                              <%}%>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Current/Previous Company')%></label>
                          <div class="form-group col-xs-12 col-md-9">
                          <input type="text" id="company" name="company" class="form-control" placeholder="<%=__('Company')%>">
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Year of experience')%>(year)</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <select name="year_of_exp" id="year_of_exp" class="form-control" data-validation="required">
                              <option value="">Select Age</option>
                              <%for(var i =0;i<30;i++){%>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Do you have passport')%></label>
                          <div class="form-group col-xs-12 col-md-9">
                            <input type="checkbox" name="passport" id="passport" value="Yes">
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Language Known')%> *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <div class="row">
                                <%for(var i=0;i<lKnow.length;i++){%>
                                  <div class="col-md-3">
                                  <input type="checkbox" name="language" id="language-<%=i%>" value="<%=lKnow[i].id%>" data-validation="required">  <%=lKnow[i].name%>
                                  </div>
                                <%}%>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Age')%>(Years) *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <select name="age" id="age" class="form-control" data-validation="required">
                              <option value="">Select Age</option>
                              <%for(var i =15;i<76;i++){%>
                                <option value="<%=i%>"><%=i%></option>
                                <%}%>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Gender')%> *</label>
                          <div class="form-group col-xs-12 col-md-9">
                            <select name="gender" id="gender" class="form-control" data-validation="required">
                              <option value="">Select Gender</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Address Proof')%></label>
                          <div class="form-group col-xs-12 col-md-9">
                            <div class="row">
                              <%for(var i=0;i<adProof.length;i++){%>
                                <div class="col-md-3">
                                <input type="checkbox" name="adProof" id="adProof-<%=i%>" value="<%=adProof[i].id%>" data-validation="required">  <%=adProof[i].name%>
                                </div>
                              <%}%>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('Photo Id Proof')%></label>
                          <div class="form-group col-xs-12 col-md-9">
                            <div class="row">
                              <%for(var i=0;i<pIdProof.length;i++){%>
                                <div class="col-md-3">
                                <input type="checkbox" name="pIdProof" id="pIdProof-<%=i%>" value="<%=pIdProof[i].id%>" data-validation="required">  <%=pIdProof[i].name%>
                                </div>
                              <%}%>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <label class="control-label col-xs-12 col-md-3 "><%=__('ITI Deploma')%></label>
                          <div class="form-group col-xs-12 col-md-9">
                            <input type="checkbox" name="diploma" id="diploma" value="yes">
                          </div>
                      </div>
                  </div>
                </div>
                <!--/row-->
                <hr>
                <div class="form-actions">
                  <button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
                  <a href="/admin/user" class="btn btn-default"><%=__('Cancel')%> </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <!-- /.container-fluid -->
    </div>
    <script src="/assets/admin/js/user.js"></script>
    <script type="text/javascript" src="/assets/admin/js/category_dropdown.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/admin/css/global.css" media="screen" /
