
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row bg-title">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title"><%=__('Manage Category')%></h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
          <li class="active">
            <%=__('Manage Category')%>
          </li>
          
        </ol>
      </div>
    <!-- /.col-lg-12 -->
    </div>
    <div class="row ">
      <div class="col-md-4 white-box">
        <div id="nestable" class="treeintable dd">
          tree
        </div>
        
      </div>
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-wrapper collapse in" aria-expanded="true">
            <div class="panel-body">
              <div class="form-body">
                <%include ../message/message.ejs%>
                <h3 class="box-title" id="cat-title"></h3>
                <hr>
                <form action="/admin/category/add" method="post" id="cat_form">
                  <input type="hidden" name="cat_id" id="cat_id">
                <div class="row">
                  
                  <div class="button-listing category-listing">                      
                    <a href="/admin/category">
                      <button class="btn btn btn-danger btn-rounded" type="button" id="add_root_bt"> Add Root
                        Category
                      </button>
                    </a>
                    <button class="btn btn-success btn-rounded" type="button" id="sub-root"> Add Subcategory </button>                    
                    <button class="btn btn-success btn-rounded" type="button" id="delete-root">Delete </button>                    
                    <a href="/admin/category">
                      <button class="btn btn-success btn-rounded" type="button">Reset</button>
                    </a>
                    <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#skillsModal" id="skill-button" style="display: none">Skills </button>
                    <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#designaitorModal" id="design-button"  style="display: none">Designaitor </button>
                    
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label col-xs-12 col-md-3 "><%=__('Name')%> *</label>
                      <div class="form-group col-xs-12 col-md-9">
                        <input type="text" id="name" name="name" data-validation="required" class="form-control" placeholder="<%=__('Name')%>">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label col-xs-12 col-md-3 "><%=__('Code')%> *</label>
                      <div class="form-group col-xs-12 col-md-9">
                        <input type="text" id="code" name="code" data-validation="server" data-validation-url="/admin/category/check-code" class="form-control" placeholder="<%=__('Name')%>">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label col-xs-12 col-md-3 "><%=__('Description')%> </label>
                      <div class="form-group col-xs-12 col-md-9">
                        <textarea name="description" id="description" rows="8" cols="80" class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/row-->
                <hr>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
                    <a href="/admin/category" class="btn btn-default"><%=__('Cancel')%> </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
  </div>

<!--------Designaitor model-->
<div class="modal fade" id="designaitorModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Designaitor</h4>
      </div>
      <form action="" method="POST" id="designaitor-form">  
        <input type="hidden" name="catId" class="cat-id-data">       
        <div class="modal-body">
          <div class="field_wrapper_designaitor">
            <div>
                <input type="text" name="designaitor_add[]" value=""/>
              
            </div>
          </div>
          <a href="javascript:void(0);" class="add_button" title="Add field" onclick="addDesignaitor('field_wrapper_designaitor')"><img src="/assets/admin/images/add-icon.png"/></a>
        </div>      
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="designaitor-close">Close</button>
        </div>
    </form>
    </div>
    
  </div>
</div>

<!------------skills-------------->
<div class="modal fade" id="skillsModal" role="dialog">
  
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Skills</h4>
      </div>
      <form action="" method="POST" id="skill-form"> 
        <input type="hidden" name="catId" class="cat-id-data">     
        <div class="modal-body">
          <div class="field_wrapper">
            <div>
                <input type="text" name="skills_add" value=""/>
              
            </div>
          </div>
          <a href="javascript:void(0);" class="add_button" title="Add field" onclick="addSkills('field_wrapper')"><img src="/assets/admin/images/add-icon.png"/></a>
        </div>      
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-form-submit" > <i class="fa   fa-check"></i> Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="skills-close">Close</button>
        </div>
    </form>
    </div>
    
  </div>
</div>




<script src="/assets/admin/js/jquery-migrate-1.2.1.min.js"></script>
<!-- Main Theme Stylesheet :: CSS -->
<script src="/assets/admin/js/jquery.nestable.js"></script>
<script src="/assets/admin/js/quickmenu_manage.js"></script>
<script src="/assets/admin/js/category.js"></script>

<link href="/assets/admin/css/nestable.css" rel="stylesheet" type="text/css" />
