<div id="page-wrapper">
<div class="container-fluid">
<div class="row bg-title">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<h4 class="page-title"><%=__('Add Job')%></h4>
</div>
<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
<ol class="breadcrumb">
<li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
<li class="active">
<a href="/admin/job"><%=__('Manage Job')%></a>
</li>
<li class="active"><%=__('Add')%></li>
</ol>
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-md-12">
<div class="panel panel-info">

<div class="panel-wrapper collapse in" aria-expanded="true">
<div class="panel-body">
<form action="" method="post" id="registration-form">
<div class="form-body">
<%include ../message/message.ejs%>
<hr>
<div class="row">
<div class="col-md-12">
<div class="form-group row">

<div class="form-group row clearfix" id="category_valid">
	  <label class="col-xs-12 col-md-3  col-form-label" for="example-text-input">Category</label>
	  <div class="col-xs-12 col-md-9">

		<div class="form">
		  <div class="search-box"><input type="text" class="input" placeholder="click & search"></div>
		  <div class="list"></div>
		  <ul class="categories" id="unique">
			<li><span>Default Categories</span>
			  <ul class="sub-categories">
			  </ul>
			</li>
			</ul>
		</div>
		<div class="seprated">
		  <input type="hidden" name="data" id="save_data" data-validation="required" value="">
		</div>
		<div class="sepratedd">
		  <input type="hidden" value="">
		</div>

	  </div>
	  <span class="help-block form-error" style="display:none" id="cat">This is a required field</span>
	  <input type="hidden" name="default_atr[]" class="default_atr" value="data">
	</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Name')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="name" name="name" data-validation="required" class="form-control" placeholder="<%=__('Name')%>">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Description')%> </label>
<div class="form-group col-xs-12 col-md-9">
<textarea class="form-control ckeditor" placeholder="Description" name="description" ></textarea>
</div>
</div>
</div>
</div>
  
<hr>


<div class="form-actions">
<button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
<a href="/admin/job" class="btn btn-default"><%=__('Cancel')%> </a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</div>
<!-- /.container-fluid -->
</div>

<script type="text/javascript" src="/assets/admin/js/category_dropdown.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/css/global.css" media="screen" />
