<div id="page-wrapper">
<div class="container-fluid">
<div class="row bg-title">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<h4 class="page-title"><%=__('Add Job')%></h4>
</div>
<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
<ol class="breadcrumb">
<li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
<li class="active">
<a href="/admin/job"><%=__('Manage Job')%></a>
</li>
<li class="active"><%=__('Add')%></li>
</ol>
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-md-12">
<div class="panel panel-info">

<div class="panel-wrapper collapse in" aria-expanded="true">
<div class="panel-body">
<form action="" method="post" id="registration-form">
<div class="form-body">
<%include ../message/message.ejs%>
<hr>

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select User</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="user_id" id="user_id" class="form-control" data-validation="required">
			<option value="">Select User</option>
			<%for(var key=0;key<users.length;key++){%>
			   <option value="<%=users[key].id%>"><%=users[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div>  

<div class="row">
<div class="col-md-12">
<div class="form-group row">

<div class="form-group row clearfix" id="category_valid">
	  <label class="col-xs-12 col-md-3  col-form-label" for="example-text-input">Category</label>
	  <div class="col-xs-12 col-md-9">

		<div class="form">
		  <div class="search-box"><input type="text" class="input" placeholder="click & search"></div>
		  <div class="list"></div>
		  <ul class="categories" id="unique">
			<li><span>Default Categories</span>
			  <ul class="sub-categories">
			  </ul>
			</li>
			</ul>
		</div>
		<div class="seprated">
		  <input type="hidden" name="data" id="save_data" data-validation="required" value="">
		</div>
		<div class="sepratedd">
		  <input type="hidden" value="">
		</div>

	  </div>
	  <span class="help-block form-error" style="display:none" id="cat">This is a required field</span>
	  <input type="hidden" name="default_atr[]" class="default_atr" value="data">
	</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Job Title')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="name" name="name" data-validation="required" class="form-control" placeholder="<%=__('Job Title')%>">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select User</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="user_id" id="user_id" class="form-control" data-validation="required">
			<option value="">Select User</option>
			<%for(var key=0;key<users.length;key++){%>
			   <option value="<%=users[key].id%>"><%=users[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div>  

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-3 col-md-3">Job Types</label>
		<div class="col-md-9">		 
			<%for(var key=0;key<job_type.length;key++){%>
			  <div class="col-md-4 form-group">
					<input id="jobtype" name="jobtype" value="<%=job_type[key].code %>" type="checkbox" class="applicable-for"><label for="checkbox34"><%=job_type[key].name%></label>
				</div>
			<%}%>
		</div>
	</div>
</div>
</div>  

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Monthly Salary')%> <%=__('Min')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="salary_min" name="salary_min" data-validation="required" class="form-control" placeholder="<%=__('Min')%>">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Monthly Salary')%> <%=__('Max')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="salary_max" name="salary_max" data-validation="required" class="form-control" placeholder="<%=__('Max')%>">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Experience')%> <%=__('Min')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<select name="exp_min" id="exp_min" class="form-control" data-validation="required">
	<option value="">Select Exp</option>
	<%for(var key=1;key<20;key++){%>
	   <option value="<%=key%>"><%=key%></option>
	<%}%>
</select>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Experience')%> <%=__('Max')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<select name="exp_max" id="exp_max" class="form-control" data-validation="required">
	<option value="">Select Exp</option>
	<%for(var key=1;key<21;key++){%>
	   <option value="<%=key%>"><%=key%></option>
	<%}%>
</select>
</div>
</div>
</div>
</div>
		
<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select City</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="city_id" id="city_id" class="form-control" data-validation="required">
			<option value="">Select City</option>
			<%for(var key=0;key<city.length;key++){%>
			   <option value="<%=city[key].id%>"><%=city[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div>    

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select Locality</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="locality_id" id="locality_id" class="form-control" data-validation="required">
			<option value="">Select Locality</option>
			</select>
		  </div>
	</div>
</div>
</div> 

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Description')%> </label>
<div class="form-group col-xs-12 col-md-9">
<textarea class="form-control ckeditor" placeholder="Description" name="description" ></textarea>
</div>
</div>
</div>
</div>
  
<hr>


<div class="form-actions">
<button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
<a href="/admin/job" class="btn btn-default"><%=__('Cancel')%> </a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</div>
<!-- /.container-fluid -->
</div>

<script>
$("#city_id").on("change", function(){
	var city_id = $(this).val();
	$.ajax({
      url: "/admin/job/get_locality",
      data: {
        city_id : city_id
      },
      success: function(data) {
        var toAppend = '';
        if (data != '0') {
          toAppend += '<option value = "">Select Locality</option>';
          for (var i = 0; i < data.length; i++) {
          
            toAppend += '<option value= ' + data[i]['_id'] + '>' + data[i]['name'] + '</option>';
          }
        } else {
          toAppend += '<option value = "">Select Locality</option>';
        }
        $('#locality_id').html(toAppend);
      }
    });
});
</script>

<script type="text/javascript" src="/assets/admin/js/category_dropdown.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/css/global.css" media="screen" />
