<div id="page-wrapper">
<div class="container-fluid">
<div class="row bg-title">
<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
<h4 class="page-title"><%=__('Manage Job')%></h4>
</div>
<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
<ol class="breadcrumb">
<li><a href="/admin/dashboard"><%=__('Dashboard')%></a></li>
<li class="active">
<a href="/admin/job"><%=__('Manage Job')%></a>
</li>
<li class="active"><%=__('Edit')%></li>
</ol>
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-md-12">
<div class="panel panel-info">

<div class="panel-wrapper collapse in" aria-expanded="true">
<div class="panel-body">
<form action="" method="post" id="registration-form">
<div class="form-body">
<%include ../message/message.ejs%>
<hr>
<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select User *</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="user_id" id="user_id" class="form-control" data-validation="required">
			<option value="">Select User</option>
			<%for(var key=0;key<users.length;key++){%>				
			   <option value="<%=users[key]._id%>" <% if((users[key]._id).toString() == detail.user_id){ %>selected ="selected" <% }%>><%=users[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div> 

<div class="row">
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-12 col-md-3 "><%=__('Category')%> * </label>
			<div class="form-group col-xs-12 col-md-9">
			  <select name="category" id="category" data-validation="required" class="form-control" onchange="getSubcategory(this.value)">
				<option value="">Select Category</option>
				<%for(let i=0;i<category.length;i++){%>
					
				  <option value="<%=category[i]._id%>" <% if((category[i].id) == (detail.category_id).toString()){ %>selected ="selected" <% }%>><%=category[i].name%> </option>
				  <%}%>
			  </select>
			</div>
		</div>
	</div>
  </div>

  <div class="row">
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-12 col-md-3 "><%=__('Sub Category')%> </label>
			<div class="form-group col-xs-12 col-md-9 subcateogry-select">
			  <select name="subcategory" id="subcategory" class="select2 form-control " multiple="multiple" >
				<option value="">Select</option>
				<% subcategory_id = detail.subcategory_id %>
				<%for(let i=0;i<subcategory.length;i++){%>
					<option value="<%=subcategory[i]._id%>" <% if(subcategory_id.indexOf(subcategory[i]._id) !== -1){ %> selected="selected"<% }%>><%=subcategory[i].name%></option>
					<%}%>
			  </select>
			</div>
		</div>
	</div>
  </div>


<div class="form-group row clearfix" id="category_valid" style="display: none;">
	  <label class="col-xs-12 col-md-3  col-form-label" for="example-text-input">Category *</label>
	  <div class="col-xs-12 col-md-9">

		<div class="form">
		  <div class="search-box"><input type="text" class="input" placeholder="click & search" ></div>
		  <div class="list"></div>
		  <ul class="categories" id="unique">
			<li><span>Default Categories</span>
			  <ul class="sub-categories">
			  </ul>
		</div>
		<div class="seprated">
		  <input type="hidden" name="data" id="save_data" data-validation="required" value="<%= detail.category_id %>">
		</div>
		<div class="sepratedd">
		  <input type="hidden" value="<%= detail.category_id %>">
		</div>

	  </div>
	  <span class="help-block form-error" style="display:none" id="cat">This is a required field</span>
	  <input type="hidden" name="default_atr[]" class="default_atr" value="data">
	</div>
</div>


<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Name')%> *</label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="name" name="name" data-validation="required" class="form-control" placeholder="<%=__('Name')%>" value="<%=detail.name?detail.name:''%>">
</div>
</div>
</div>
</div>

<div class="row">
	<div class="col-md-12">
	<div class="form-group row">
	<label class="control-label col-xs-12 col-md-3 "><%=__('Keyword')%> </label>
	<div class="form-group col-xs-12 col-md-9">
	<input type="text" id="keyword" name="keyword" class="form-control" placeholder="<%=__('Keyword')%>" value="<%=detail.keyword?detail.keyword:''%>">
	</div>
	</div>
	</div>
	</div>

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-3 col-md-3">Job Types </label>
		<div class="col-md-9">		 
			<%for(var key=0;key<job_type.length;key++){%>
			  <div class="col-md-4 form-group">			  
			  <% var arr_data = detail.jobtype; %>
					<input id="jobtype" name="jobtype" value="<%=job_type[key].code %>" <% if(arr_data.includes(job_type[key].code) ==true){ %>checked ="checked" <% }%> type="checkbox" class="applicable-for"><label for="checkbox34"><%=job_type[key].name%></label>
				</div>
			<%}%>
		</div>
	</div>
</div>
</div>  

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Monthly Salary')%> <%=__('Min')%></label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="salary_min" name="salary_min"  data-validation="number" class="form-control" placeholder="<%=__('Min')%>" value="<%= detail.salary_min%>">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Monthly Salary')%> <%=__('Max')%> </label>
<div class="form-group col-xs-12 col-md-9">
<input type="text" id="salary_max" name="salary_max"  data-validation="number" class="form-control" placeholder="<%=__('Max')%>" value="<%= detail.salary_max%>">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Experience')%> <%=__('Min')%></label>
<div class="form-group col-xs-12 col-md-9">
<select name="exp_min" id="exp_min" class="form-control" >
	<option value="">Select Exp</option>
	<%for(var key=1;key<20;key++){%>
	   <option <% if(key == detail.exp_min){ %> selected="selected" <% } %> value="<%=key%>"><%=key%></option>
	<%}%>
</select>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="form-group row">
<label class="control-label col-xs-12 col-md-3 "><%=__('Experience')%> <%=__('Max')%></label>
<div class="form-group col-xs-12 col-md-9">
<select name="exp_max" id="exp_max" class="form-control" >
	<option value="">Select Exp</option>
	<%for(var key=1;key<21;key++){%>
	   <option <% if(key == detail.exp_max){ %> selected="selected" <% } %> value="<%=key%>"><%=key%></option>
	<%}%>
</select>
</div>
</div>
</div>
</div>
		
<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select City *</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="city_id" id="city_id" class="form-control" data-validation="required">
			<option value="">Select City</option>
			<%for(var key=0;key<city.length;key++){%>
			   <option <% if((city[key].id.toString()) == detail.city_id){ %> selected="selected" <% } %> value="<%=city[key].id%>"><%=city[key].name%></option>
			<%}%>
		</select>
		  </div>
	</div>
</div>
</div>    

<div class="row">
<div class="col-md-12">
	<div class="form-group row">
		<label class="control-label col-xs-12 col-md-3">Select Locality</label>
		 <div class="form-group col-xs-12 col-md-9">
		<select name="locality_id" id="locality_id" class="form-control">
			<option value="">Select Locality</option>
			<%for(var key=0;key<locality.length;key++){%>
			   <option <% if((locality[key].id).toString() == detail.locality_id){ %> selected="selected" <% } %> value="<%=locality[key].id%>"><%=locality[key].name%></option>
			<%}%>
			</select>
		  </div>
	</div>
</div>
</div> 
<div class="row">
	<div class="col-md-12">
	<div class="form-group row">
	<label class="control-label col-xs-12 col-md-3 "><%=__('Description')%> </label>
	<div class="form-group col-xs-12 col-md-9">
	<textarea class="form-control ckeditor" placeholder="Description" name="description" ><%= detail.description?detail.description:'' %></textarea>
	
	</div>
	</div>
	</div>
	</div>
<div class="row" >
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-3 col-md-3">Company</label>
			<div class="col-md-9">
				<div class="col-md-4 form-group">
					<input id="company" name="company" onclick="Company()" <% if(detail.company == 'on'){ %> checked="checked" <% } %> type="checkbox" class="applicable-for">
				</div>
			</div>
		</div>
	</div>
</div>  
<%	var com_data = "display:none"; 
var company_name = '';
var company_email = '';
var company_phone = '';
if(detail.company == 'on'){
	com_data ="display:block"; 
	if((detail.company_data).length > 0){
		company_name = detail.company_data[0].name ? detail.company_data[0].name : '';
		company_email = detail.company_data[0].email ? detail.company_data[0].email : '';
		company_phone = detail.company_data[0].phone ? detail.company_data[0].phone : '';
	}
} %>

<div class="row company" style=<%=com_data%>>
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-12 col-md-3 "><%=__('Company Name')%></label>
			<div class="form-group col-xs-12 col-md-9">
				<input type="text" id="company_name" name="company_name"  class="form-control" placeholder="<%=__('Company Name')%>" value="<%= company_name %>">
			</div>
		</div>
	</div>
</div>

<div class="row company" style=<%=com_data%>>
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-12 col-md-3 "><%=__('Company Email')%></label>
			<div class="form-group col-xs-12 col-md-9">
				<input type="text" id="company_email" data-validation="email" name="company_email" class="form-control" placeholder="<%=__('Company Email')%>" value="<%= company_email %>" >
			</div>
		</div>
	</div>
</div>

<div class="row company" style=<%=com_data%>> 
	<div class="col-md-12">
		<div class="form-group row">
			<label class="control-label col-xs-12 col-md-3 "><%=__('Company Phone')%></label>
			<div class="form-group col-xs-12 col-md-9">
				<input type="text" id="company_phone" name="company_phone" class="form-control" placeholder="<%=__('Company Phone')%>" value="<%= company_phone %>">
			</div>
		</div>
	</div>
</div>

<hr>


<div class="form-actions">
<button type="submit" class="btn btn-success btn-form-submit"> <i class="fa   fa-check"></i> Save</button>
<a href="/admin/job" class="btn btn-default"><%=__('Cancel')%> </a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</div>
<!-- /.container-fluid -->
</div>

<script>
    $(document).ready(function() {
        $('#subcategory').select2();
	});
</script>
<script>

function Company() {
  var checkBox = document.getElementById("company");
  if (checkBox.checked == true){
	$(".company").show();
  } else {
	$(".company").hide();
  }
}

$("#city_id").on("change", function(){
	var city_id = $(this).val();
	$.ajax({
      url: "/admin/job/get_locality",
      data: {
        city_id : city_id
      },
      success: function(data) {
        var toAppend = '';
        if (data != '0') {
          toAppend += '<option value = "">Select Locality</option>';
          for (var i = 0; i < data.length; i++) {
          
            toAppend += '<option value= ' + data[i]['_id'] + '>' + data[i]['name'] + '</option>';
          }
        } else {
          toAppend += '<option value = "">Select Locality</option>';
        }
        $('#locality_id').html(toAppend);
      }
    });
});
</script>
<script src="/assets/admin/js/user.js"></script>
<script type="text/javascript" src="/assets/admin/js/category_dropdown.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/css/global.css" media="screen" />
